apiVersion: v1
kind: Service
metadata:
  name: config-validator-service
  namespace: default
spec:
  selector:
    app: config-validator-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30080
  type: NodePort
